.parent-div-statistics{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em 1.5em;
}

.parent-div-statistics .card{
    width: 250px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px 0;
    border-radius: 5px;
}

.parent-div-statistics .card:hover{
    border: 1px solid #eeee !important;
    box-shadow: 0 2.5px 5px #eeee;
}

.card .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    height: 100%;
    padding: 5% 0px;
    padding-right: 0px;
    background-color: white;
}

.card .left .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: rgb(55, 56, 57);
    color: white;
    border-radius: 5px;
}

.card .left .icon i{
    font-size: 27px;
    font-weight: 500;
    color: white !important;
}

.card .left .icon.connections{
    background-color: #3290f4;
}

.card .left .icon.sender{
    background-color: #068306;
}

.card .left .icon.receiver{
    background-color: rgb(55, 56, 57);
}


.card .right{
    width: 65%;
    height: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card .right .number{
    font-size: 20px;
    font-weight: 500;
}

.card .right .title{
    font-size: 15px;
}